*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    
    
}

.body{
 background-image:url(../image/sky.jpg);
 background-repeat:no-repeat;
 background-attachment: fixed;
 font-size:18px;
 
 transition: background-image 1.5s ease;
}

.surveyheader{
    display: flex;
    justify-content: center;
    margin:auto;
    padding-top: 1%;
    padding-bottom: 1%;
}
.main{
    background-image: none;
}
.section{
    background-color:rgba(255, 255, 255, 0.4);
    border: 2px solid rgba(221, 221,221,0.4);
    border-radius: 10px;
    margin-top: 2rem;
    margin-bottom: 2rem;
    width:40%;
    background-image: none;
    margin-left: auto;
    margin-right: auto;
   
   

}
.section:last-child{
    margin-bottom: 0.5rem;
}
header{
    border-radius: 5px !important;
    padding-top: 1rem ;
    padding-bottom: 1rem;
    background-color:rgba(255, 255, 255, 0.5) ;
    border: 2px solid rgba(221, 221,221,0.4);
    color: rgb(45, 9, 82);
    margin-top: 2rem;
    margin-bottom: 2rem;
    width:40%;
    margin-left: auto;
    margin-right: auto;
}
.form-group{
   
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;


    
}
.star{
    display:flex;
    flex-direction: row;
    flex-wrap: wrap;
    margin-left: 2rem;
}
span{
    font-size: 25px;
    margin-right: 5px;
}

.form-radio{
    margin:0.2em 0em 0.2em 1em;
     min-height:1.25em;
    min-width:1.25em;
    font-weight: bold;
  
}

.form-checkbox{
    
    margin:0.2em 0em 0.2em 1em;
     min-height:1.25em;
    min-width:1.25em;
    font-weight: bold;
}
.form-control{
    width: 93%;
    margin:0.4em 1em 0.4em 0.1em;
    padding:2px 12px;
    border-radius:5px;
    font-size: 14px;
    font-weight: 600;
    height:35px;
    border-style: none;
}

.kimlik {
    
    border-bottom:1px;
    margin-top:1.5em;
    padding-left: 1em;
    font-weight: bold;
    font-size:22px;
}
.formlabel{
    margin-top:0.5em;
    padding-left: 1em;
    font-weight: 550;
    font-size:1.3rem;
}
.formlabel:last-child{
    margin-bottom: 2rem;
}
p{
    color:rgb(45, 9, 82);
    font-weight: bold;
    margin-top: 2rem;
    margin-left: 2rem;
    margin-right: 2rem;
    margin-bottom: 1rem;
    font-size:1.5rem;
}
.footer{
    border-radius: 5px !important;
    display: flex;
    justify-content: center;
    margin:auto;
    margin-top: 2rem;
    margin-bottom:2rem;
    background-color:rgba(255, 255, 255, 0.5) ;
    border: 2px solid rgba(221, 221,221,0.4);
    width:40%;
}
.footer p{
    margin-top: 1rem;
    color: rgb(0, 0, 0);
}
#lamba-sekil{
    width:95%;
    height: 250px;
    margin-left: 2.5%;
    margin-right: 2.5%;
}
blockquote{
    margin-top:1rem;
}
.button{
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    margin-top: 3rem;
    margin-bottom: 1.5rem;
    margin-left:15%;
    margin-right: 15%;
    
    
}
input[type=submit]{
   border:none;
    background-color:#198754;
    color:white;
    height:2rem;
   width: 45%;
   margin-right: 10%;
   border-radius: 5px;
   font-size: 18px;

}
input[type=reset]{
    background-color: #dc3545;
    border:none;
    color:white;
    width: 45%;
    border-radius: 5px;
    font-size: 18px;
}
.rating{
    margin-left: 2rem;
}
 
.rating__star {
    cursor: pointer;
    color: #dabd18b2;
 }